# Aula 01 - Listas e Tuplas

- Listas - coleção ou sequência ordenada de valores

    - indexação de base 0
    - função - len()
    - slicing (fatiamento) = nomes_paises[1:3]
    - 'step' -> de quantos em quantos itens o programa vai retornar
    - in/not - procurar um valor dentro da lista

In [15]:
nomes_paises = ['Brasil', 'Argentina', 'China', 'Canadá', 'Japão']

print('Tamanho da lista:', len(nomes_paises))

print('País:', nomes_paises[-1])

# Trocar um item específico da lista:
nomes_paises[4] = 'Colômbia'
print(nomes_paises)

print(nomes_paises[1:3])

# Step
print(nomes_paises[::2])

print(nomes_paises[::-1])

# in/not
print('Brasil' in nomes_paises)

print('Canadá' not in nomes_paises)

Tamanho da lista: 5
País: Japão
['Brasil', 'Argentina', 'China', 'Canadá', 'Colômbia']
['Argentina', 'China']
['Brasil', 'China', 'Colômbia']
['Colômbia', 'Canadá', 'China', 'Argentina', 'Brasil']
True
False

Métodos:

- append() - adicionar um valor a lista
- insert() - adiciona um valor numa posição específica da lista
- remove() - deletar um valor da lista
- pop() - deleta um valor da lista a partir da sua posição

In [20]:
lista_capitais = []

lista_capitais.append('Brasília')
lista_capitais.append('Buenos Aires')
lista_capitais.append('Pequim')
lista_capitais.append('Bogotá')

print(lista_capitais)

lista_capitais.insert(2, 'Paris')
print(lista_capitais)

lista_capitais.remove('Buenos Aires')
print(lista_capitais)

removido = lista_capitais.pop(2)
print(lista_capitais, removido)

['Brasília', 'Buenos Aires', 'Pequim', 'Bogotá']
['Brasília', 'Buenos Aires', 'Paris', 'Pequim', 'Bogotá']
['Brasília', 'Paris', 'Pequim', 'Bogotá']
['Brasília', 'Paris', 'Bogotá'] Pequim

- Tuplas - sequência ou coleção de valores ordenados
    - indexação de base 0
    - menor em armazenamento pela rigidez
    - len()
    - slicing/fatiamento
    - unpacking

** Principal diferença entre listas e tuplas é a flexibilidade do que se pode fazer com cada uma. Numa tupla não se pode alterar os valores uma vez colocados dentro dela.

In [28]:
nomes_paises = 'Brasil', 'Argentina', 'China', 'Canadá', 'Japão'
print(nomes_paises, type(nomes_paises))

nome_estado = 'São Paulo',
print(nome_estado, type(nome_estado))

len(nomes_paises)
nomes_paises[0]

# unpacking
b, a, c, ca, j = nomes_paises
print(b, c, j)
print(*nomes_paises)

('Brasil', 'Argentina', 'China', 'Canadá', 'Japão') <class 'tuple'>
('São Paulo',) <class 'tuple'>
Brasil China Japão
Brasil Argentina China Canadá Japão

# Aula 02 - Strings I

- podem ser usados "" ou '' pra caracterizar strings
- quando usa-se ' (apóstrofo) é necessário usar ""

In [2]:
empresa = 'Google'
print(empresa)
empresa = "Google"
print(empresa)

empresa = "Let's Code"
print(empresa)

Google
Google
Let's Code

- artifício do caracter de escape - contrabarra
- pode ser utilizado para inserção de quebra de linha, tabulação ou um retorno dentro do texto.

In [3]:
frase = "O professor Petro da Let's Code disse: \"Hoje a pizza é por minha conta\""
print(frase)

O professor Petro da Let's Code disse: "Hoje a pizza é por minha conta"

- caracteres funcionam como cada item de valor de uma tupla, por exemplo
- slicing

In [5]:
empresa = 'Google'
print(empresa[0])

print(empresa[:3])

G
Goo

Métodos em strings:

- split() - quebra a string em uma lista

--> não precisa necessariamente passar um caracter - usa o espaço como quebra padrão

- strip() - exclui espaços 'extras' no final e começo da string

In [10]:
nomes_cidades = "São Paulo, Belo Horizonte, Rio de Janeiro, Brasília"

nomes_cidades = nomes_cidades.split(', ')
print(nomes_cidades)

cabecalho = "         MENU PRINCIPAL           "
print(cabecalho.strip())

['São Paulo', 'Belo Horizonte', 'Rio de Janeiro', 'Brasília']
MENU PRINCIPAL

- .title(), .capitalize(), .lower(), .upper()

In [11]:
nome_cidade = 'rIo DE janeIrO'

print(nome_cidade.title())
print(nome_cidade.capitalize())
print(nome_cidade.lower())
print(nome_cidade.upper())

Rio De Janeiro
Rio de janeiro
rio de janeiro
RIO DE JANEIRO

In [13]:
# Exemplo
nome_cidade = input("Que cidade do Brasil é conhecida como cidade maravilhosa?")
nome_cidade = nome_cidade.strip()
while nome_cidade.lower() != 'rio de janeiro':
    print("Tenta de novo, vai")
    nome_cidade = input("Que cidade do Brasil é conhecida como cidade maravilhosa?")

print('Booa, campeão!')

Tenta de novo, vai
Tenta de novo, vai
Booa, campeão!

Operador 'in' em strings

In [14]:
mensagem = "Você viu o que o Pietro disse na sala ontem?"
fui_citado = "Pietro" in mensagem
print(fui_citado)

True

# Aula 03 - Strings II

Operadores em strings
- adição
- multiplicação

In [19]:
cumprimento = 'Olá, '
nome = 'Mayara'
print(cumprimento + nome)

print(nome * 5)

Olá, Mayara
MayaraMayaraMayaraMayaraMayara
Felipe tem 35 anos e 2 filhos

--> Em casos de concatenação de strings e números, o python apresenta um erro. Pra evitar erro, precisa primeiro transformar o número em string usando a função str()

- para facilitar esse processo existe o método .format()

In [22]:
nome = 'Felipe'
idade = 35
filhos = 2

print(nome + ' tem ' + str(idade) + ' anos e ' + str(filhos) + ' filhos')

# .format()
print('{} tem {} anos e {} filhos'.format(nome, idade, filhos))

Felipe tem 35 anos e 2 filhos
Felipe tem 35 anos e 2 filhos

In [23]:
preco_gasolina = 3.476
print('O preço da gasolina hoje subiu e está em R${:.2f}'.format(preco_gasolina))

O preço da gasolina hoje subiu e está em R$3.48

- Atalho do método .format()

In [24]:
print(f'{nome} tem {idade} anos e {filhos} filhos.')

Felipe tem 35 anos e 2 filhos.

# Aula 04 - Dicionários

--> Coleção associativa desordenada
- pareamento - chaves e valores
- usa-se {}

In [27]:
dados_cidades = {
    'nome': 'São Paulo',
    'estado': 'São Paulo',
    'area_km2': 1521,
    'populacao_milhoes': 12.18,
}
print(type(dados_cidades))
print(dados_cidades)

<class 'dict'>
{'nome': 'São Paulo', 'estado': 'São Paulo', 'area_km2': 1521, 'populacao_milhoes': 12.18}

- estrutura mais flexível visto até agora

In [31]:
dados_cidades['país'] = 'Brasil'

print(dados_cidades)

print(dados_cidades['nome'])

dados_cidades['area_km2'] = 1500
print(dados_cidades)

{'nome': 'São Paulo', 'estado': 'São Paulo', 'area_km2': 1521, 'populacao_milhoes': 12.18, 'país': 'Brasil'}
São Paulo
{'nome': 'São Paulo', 'estado': 'São Paulo', 'area_km2': 1500, 'populacao_milhoes': 12.18, 'país': 'Brasil'}

- método .copy() para copiar e alterar o dicionário, sem alterar o original

In [33]:
dados_cidades2 = dados_cidades

dados_cidades2['nome'] = 'Santos'
print(dados_cidades2)
print(dados_cidades)

dados_cidades3 = dados_cidades.copy()
dados_cidades3['estado'] = 'Rio de Janeiro'
print(dados_cidades)
print(dados_cidades3)

{'nome': 'Santos', 'estado': 'São Paulo', 'area_km2': 1500, 'populacao_milhoes': 12.18, 'país': 'Brasil'}
{'nome': 'Santos', 'estado': 'São Paulo', 'area_km2': 1500, 'populacao_milhoes': 12.18, 'país': 'Brasil'}
{'nome': 'Santos', 'estado': 'São Paulo', 'area_km2': 1500, 'populacao_milhoes': 12.18, 'país': 'Brasil'}
{'nome': 'Santos', 'estado': 'Rio de Janeiro', 'area_km2': 1500, 'populacao_milhoes': 12.18, 'país': 'Brasil'}

- .update() - concatenação, atualização ou combinação de dois dicionários

In [34]:
novos_dados = {
    'populacao_milhoes': 15,
    'fundacao': '25/01/1554'
}

dados_cidades.update(novos_dados)
print(dados_cidades)

{'nome': 'Santos', 'estado': 'São Paulo', 'area_km2': 1500, 'populacao_milhoes': 15, 'país': 'Brasil', 'fundacao': '25/01/1554'}

- método .get() - acesso de uma chave

- métodos que transformam um dicionário em lista
    - .keys() - retorna uma lista de chaves de um dicionário
    - .values() - retorna uma lista de valores de um dicionário
    - .items() - retorna uma lista de tuplas (chave,valor) de um dicionário

In [37]:
print(dados_cidades.get('prefeito'))
print('-----')
print(dados_cidades.keys())
print('-----')
print(dados_cidades.values())
print('-----')
print(dados_cidades.items())

None
-----
dict_keys(['nome', 'estado', 'area_km2', 'populacao_milhoes', 'país', 'fundacao'])
-----
dict_values(['Santos', 'São Paulo', 1500, 15, 'Brasil', '25/01/1554'])
-----
dict_items([('nome', 'Santos'), ('estado', 'São Paulo'), ('area_km2', 1500), ('populacao_milhoes', 15), ('país', 'Brasil'), ('fundacao', '25/01/1554')])

# Aula 05 - Estruturas de Repetição - For

- laço de repetição especializado em iterar (navegar) sobre objetos (passível de navegação - listas, tuplas, dicionários)

--> while é mais flexível/livre for mais engessado

In [38]:
nomes_cidades = ['São Paulo', 'Londres', 'Tóquio', 'Paris']

for nome in nomes_cidades:
    print(nome)

São Paulo
Londres
Tóquio
Paris

In [39]:
# mesmo código acima usando while
contador = 0
nomes_cidades = ['São Paulo', 'Londres', 'Tóquio', 'Paris']
while contador < len(nomes_cidades):
    print(nomes_cidades[contador])
    contador = contador + 1

São Paulo
Londres
Tóquio
Paris

- for para tuplas

In [40]:
nomes_cidades = 'São Paulo', 'Londres', 'Tóquio', 'Paris'

for nome in nomes_cidades:
    print(nome)

São Paulo
Londres
Tóquio
Paris

- for em dicionários

In [41]:
cidade = {
    'nome': 'São Paulo',
    'estado': 'São Paulo',
    'populacao_milhoes': 12.2
}

for chave in cidade:
    print(f'{chave}: {cidade[chave]}')

nome: São Paulo
estado: São Paulo
populacao_milhoes: 12.2

In [43]:
nomes_cidades = ['São Paulo', 'Londres', 'Tóquio', 'Paris']

for nome in nomes_cidades:
    nome = 'Rio de Janeiro' # mexendo apenas na 'cópia' dentro do escopo e não alterando os valores originais
print(nomes_cidades)

['São Paulo', 'Londres', 'Tóquio', 'Paris']

- função range() -> cria um objeto como uma lista, que contem elementos de 0 até um limitante definido -1,

In [45]:
for posicao in range(len(nomes_cidades)):
    nomes_cidades[posicao] = 'Rio de Janeiro'
print(nomes_cidades)

['Rio de Janeiro', 'Rio de Janeiro', 'Rio de Janeiro', 'Rio de Janeiro']

Outras maneiras de utilização da função range():
1. especificar apenas um número final que cria uma lista de 0 até o número informado (-1)
2. especificar um número inicial e final
3. especificar um valor inicial, final e um incremento a cada iteração

In [47]:
print(list(range(10)))
print(list(range(2, 10)))
print(list(range(2, 10, 2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]

# Aula 06 - Funções I

Funções - sequência de passos/comandos nomeada

In [49]:
def hello():
    print('Olá, mundo!')

hello()

Olá, mundo!

In [52]:
def calcula_media(valor1, valor2, valor3):
    soma = valor1 + valor2 + valor3
    media = soma / 3
    return media

resultado = calcula_media(9, 10, 8)
print(resultado)

resultado2 = calcula_media(valor1=9, valor2=10, valor3=9)
print(resultado2)

9.0
9.333333333333334

- parâmetros - podem ser definidos ou já serem default na função
    - exemplo: parâmetro end na função print() - faz uma quebra de linha entre cada chamada da função

In [54]:
print('Olá', end=' ') #define o end com um valor diferente do default - quebra da linha
print(', Pietro')

Olá , Pietro

In [56]:
def calcula_media(valor1=0, valor2=0, valor3=0): # definido valor default pra cada parâmetro
    soma = valor1 + valor2 + valor3
    media = soma / 3
    return media

resultado = calcula_media()
print(resultado)

0.0

# Aula 07 - Funções II

- args - não é obrigatório usar o args, mas uma convenção. Poderia usar qualquer outro nome de variável
- se adicionado um outro parâmetro, nesse caso precisa especificar na chamada da função. Caso contrário, o programa entenderá que ainda se trata de um valor do parâmetro args.
    - exemplo: calcula_media(*args, margem)
    - print(calcula_media(10, 8, 9, margem=0.3))

In [58]:
from statistics import median


def calcula_media(*args):
    soma = sum(args)
    media = soma / len(args)
    return media

print(calcula_media(10,8,9))

9.0

- keywords arguments - muito utilizada em ciência de dados e visualização de gráficos
    - parâmetros comuns a diferentes funções para diferentes gráficos, performando da mesma maneira

In [59]:
def print_info(**kwargs): #kwargs - convenção
    print(kwargs, type(kwargs))

print_info(nome='Pietro', sobrenome='Ribeiro')

{'nome': 'Pietro', 'sobrenome': 'Ribeiro'} <class 'dict'>